
<nav>
  <div class="Brand">
    <h3><a href="">Student Support System</a></h3>
  </div>
  <div class="links">
    <ul>
      <% if(!currUser){ %>
        <li >
          <a href="/register" class="nav-link">Sign Up</a>
        </li>
        <li >
          <a href="/Login" class="nav-link">Login</a>
        </li>
      <%} else {%>
        <li >
          <a href="#" class="nav-link">Signed in as <%= currUser.username %></a>
        </li>
        <li >
          <a href="/Logout" class="nav-link">Logout</a>
        </li>
      <% } %>
      <li >
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>