<%- include("partials/header")%>
    <link  rel="stylesheet" type="text/css" href="stylesheets/home.css" >
    </head>
    <body>
        <%- include("partials/nav") %>
        <div class="container mt-5">
            <strong>About College</strong>
            <p>The CVR College of Engineering was established in 2000. It is approved by the All India Council for Technical Education and it is affiliated to Jawaharlal Nehru Technological University, Hyderabad. The college offers undergraduate and postgraduate courses in engineering and technology. It also has research programmes in selected fields. At the undergraduate level, B. Tech programmes are available for the areas of- Civil, Mechanical, Computer Science, Electronics & Instrumentation, Information Technology (IT), Electronics & Communication and Electrical & Electronics. At the master’s level, it offers M.Tech in VSLI Design, Artificial Intelligence, Structural Engineering, Embedded Systems, Data Sciences and  Electrical Power Engineering. 
            </p>
            <strong>Location:</strong>
            <p>
             CVR College of Engineering is located in Mangalpally(V), Ibrahimpatnam(M), Ranga Reddy. It is 20 km from the centre of Hyderabad. It is about 34 km away from the Secunderabad Railway Junction, and about 25 km away from the Rajiv Gandhi International Airport. The nearest bus depot is about 10 km away from the college. The place is accessible by all transportation.
            </p>
            <strong>Collaborations:</strong>

            <p>The college has NBA accreditation.</p>

            <strong>Committees: </strong> 
            <br>
            <strong>Dance  club:</strong>
             <p>The club encourages the students to take an active part in the dance performance.</p>
            <strong>Music Club:</strong>
            <p> The club fosters a community of students around a common interest in music. The members of the club get opportunities to perform and learn music.
            </p>

        Theatre Club: The members of the club get opportunities to perform and learn theatre.
        </div>
<%- include("partials/footer")%>